fastapi
uvicorn[standard]
# scikit-learn==1.5.2
scikit-learn
zenml[local]==0.94.4
python-dotenv
# numpy<2.0.0
numpy
pandas

# AWS dependencies for S3 artifact store
aws-profile-manager
boto3
s3fs>=2022.3.0 